.detail_cont {
  width: 1200px;
  display: flex;
  margin: 50px auto;
  flex-direction: column;
}
.detail_content {
  width: 100%;
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 5px 5px 0 2px #3f2a2a;
  box-sizing: border-box;
}

.detail_content .post_title h2 {
  font-size: 32px;
}
.detail_content .post_title p {
  font-size: 16px;
}
.detail_content .post_body {
  margin-top: 10px;
  padding-top: 30px;
  border-top: 1px solid #ddd;
  font-size: 20px;
}

#post_deleteAndEdit_btn {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 10px;
}

.post_delete_btn {
  margin-left: 10px;
  color: white;
  font-size: 15px;
  padding: 5px;
  background: #623c35;
  border-radius: 10px;
}

.post_delete_btn:hover {
  color: #ff9a69;
  cursor: pointer;
}

.post_edit_btn {
  margin-left: 10px;
  color: white;
  font-size: 15px;
  padding: 5px;
  background: #623c35;
  border-radius: 10px;
}

.post_edit_btn:hover {
  color: #ff9a69;
  cursor: pointer;
}

.post_modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: white;
  margin: 300px;
  border-radius: 10px;
}

#update_title {
  margin: 10px;
  font-size: 14px;
}

#update_body {
  margin: 10px;
  font-size: 14px;
}

.updata_btn {
  margin-top: 10px;
  display: flex;
}

#confirm_update {
  margin-right: 10px;
  color: white;
  font-size: 10px;
  padding: 5px;
  background: #623c35;
  border-radius: 10px;
}

#confirm_update:hover {
  color: #ff9a69;
  cursor: pointer;
}

#cancel_update {
  color: white;
  font-size: 10px;
  padding: 5px;
  background: #623c35;
  border-radius: 10px;
}

#cancel_update:hover {
  color: #ff9a69;
  cursor: pointer;
}
