* {
  margin: 0;
}

#mypage {
  list-style: none;
  color: #ff9a69;
}
/* body {
  background-color: #623c35;
} */
button {
  cursor: pointer;
}
#title {
  color: white;
  font-size: 30px;
}
#logo {
  color: white;
  font-size: 30px;
  margin-left: 10px;
  margin-right: 20px;
}

#logoAndtitle {
  display: flex;
  margin: 5px;
}
#login_btn {
  font-size: 20px;
  padding: 8px;
  color: #ff9a69;
  background: #623c35;
  border-radius: 10px;
  margin-left: 5px;
}
#sign_btn {
  font-size: 20px;
  padding: 8px;
  color: #ff9a69;
  background: #623c35;
  border-radius: 10px;
  margin-right: 20px;
  margin-left: 5px;
}
#posts_container {
  display: grid;
  grid-template-columns: repeat(1, 100%);
  margin: 50px;
}
.post_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  border-bottom: 0.5px solid black;
  padding: 10px;
}
.post_title_btn {
  font-size: 30px;
  margin-bottom: 10px;
  background: none;
  border: none;
}
.post_title {
  color: white;
}

.post_body {
  font-size: 20px;
}
.post_genre {
  margin: 5px;
  color: grey;
}
#dropmenu_container {
  position: relative;
}
.category_container {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}
.category_dropmenu {
  display: flex;
  flex-direction: column;
  z-index: 100;
  border-radius: 10px;
}
.category_content {
  margin: 5px;
  background: none;
  border: none;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 15px;
}
.category_content:hover {
  color: #ff9a69;
}

button {
  font-size: 20px;
  padding: 8px;
  color: #ff9a69;
  background: #623c35;
  border-radius: 10px;
}

.post_modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 10px;
  height: 500px;
}

#post_updateAndDelete_btn {
  margin-top: auto;
  margin-bottom: 20px;
}

.post_delete_btn {
  margin-left: 10px;
}

#mypage_btn {
  margin-right: 10px;
}

#post_create_btn {
  margin-left: 10px;
  font-weight: 700;
}

.mylist_wrap {
  margin: 150px 10px 10px 10px;
}
